<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Designer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
  <add name="SapScadaDatabaseEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\Sqlexpress;initial catalog=SapScadaDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DesignerDatabaseEntities" connectionString="metadata=res://*/Model.Model2.csdl|res://*/Model.Model2.ssdl|res://*/Model.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQlexpress;initial catalog=DesignerDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Designer.Properties.Settings>
      <setting name="DriverServerIP" serializeAs="String">
        <value>172.16.5.20</value>
      </setting>
      <setting name="VDKPort" serializeAs="String">
        <value>8087</value>
      </setting>
      <setting name="OPCPort" serializeAs="String">
        <value>8089</value>
      </setting>
      <setting name="LastUpdateTime" serializeAs="String">
        <value>01/29/2015 09:56:00</value>
      </setting>
    </Designer.Properties.Settings>
  </userSettings>
</configuration>